/* Scrollbar CSS */
 
  * {
		scrollbar-width: auto;
    scrollbar-color: rgba(0, 0, 0, 0.4) rgb(255, 255, 255);
  }
	
  /* Safari, Chrome and Edge */
  *::-webkit-scrollbar {
		width: 10px;
		background-color: rgba(0, 0, 0, 0.1);
		position:	absolute;
  }
	
  *::-webkit-scrollbar-track {
		background: rgb(255, 255, 255);
  }
	
  *::-webkit-scrollbar-thumb {
		height: 20px;
		background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
  }
