/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #5e687d #0f172a;
  box-sizing: border-box;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: #0f172a;
}
*::-webkit-scrollbar-thumb {
  background-color: #5e687d;
  border-radius: 10px;
  border: 2px solid #0f172a;
}